.content {
  min-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding-top: 30px;
  overflow-y: auto;
  .left {
    width: 300px;
    flex: 1;
    border-right: 1px solid #f5f6f7;
    padding: 6px 10px;
    height: 100%;
  }
  .right {
    width: 300px;
    flex: 1;
    padding: 6px 10px;
    height: 100%;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 760px;
  font-size: 16px;
  position: fixed;
  background-color: #fff;
  .headerLeft {
    flex: 1;
  }
  .headerRight {
    width: auto;
  }
}
