body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw !important;
  min-width: 800px;
  min-height: 500px;
}

.page-body {
  padding: 10px;
}
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 60px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-c {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.flex-row-b {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
